<div [formGroup]="group">
    <div class="form-category" formArrayName="creativeCategory">
      <h3>Publications/Creative Activity</h3>

      <div class="form-category__entry" *ngFor="let entry of creativeCategory.controls; let i=index" [formGroupName]="i">
        <h4 class="form-category__heading">Entry #{{i + 1}}</h4>

        <button type="button" mat-mini-fab color="warn" class="form-category__remove" *ngIf="creativeCategory.controls.length > 1" (click)="removeEvent(i, creativeCategory)">
          <i class="fa fa-trash"></i>
        </button>

        <!-- <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Credentials" required formControlName="title">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Role/Achievement" required formControlName="position">
          </mat-form-field>
        </div> -->

        <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Category Type" required matInput [matAutocomplete]="autoKind" [formControl]="kindControl"
            formControlName="kind" (blur)="onKindChange($event, i, creativeCategory)">
        </mat-form-field>
        <mat-autocomplete #autoKind="matAutocomplete">
          <mat-option *ngFor="let option of kindFilteredOptions | async" [value]="option.kind">
            {{option.kind}}
          </mat-option>
        </mat-autocomplete>
        </div>

        <div class="floating-box__row">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Credentials" required matInput [matAutocomplete]="autoTitle"
                [formControl]="titleControl" formControlName="title" 
                (blur)="onTitleChange($event, i, creativeCategory)">
            </mat-form-field>
            <mat-autocomplete #autoTitle="matAutocomplete">
              <mat-option *ngFor="let option of titleFilteredOptions | async" [value]="option.title">
                {{option.title}}
              </mat-option>
            </mat-autocomplete>
          </div>
    
          <div class="floating-box__row">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Role/Achievement" required matInput [matAutocomplete]="autoPosition" [formControl]="positionControl"
                formControlName="position" (blur)="onPositionChange($event, i, creativeCategory)">
            </mat-form-field>
            <mat-autocomplete #autoPosition="matAutocomplete">
              <mat-option *ngFor="let option of positionFilteredOptions | async" [value]="option.position">
                {{option.position}}
              </mat-option>
            </mat-autocomplete>
          </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="date" matInput placeholder="From" required formControlName="from">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="date" matInput placeholder="To" required formControlName="to">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <p>Enter proof:</p>
          <div class="form-category__file-button">
            <label style="color: red" *ngIf="isRequired===true">Proof upload is mandatory for "External" category type.</label><br>
            <button type="submit" mat-raised-button color="accent">Upload</button>
            <input type="file" name="imageUpload" (change)="onFileChange($event, i, creativeCategory)">
            <input type="text" matInput disabled placeholder="{{uploadedFileName}}" required="{{isRequired}}" formControlName="fileUpload"/>
            <input type="hidden" name="imageHidden" formControlName="image"/>
          </div>
        </div>
      </div>
    </div>
  </div>