<div [formGroup]="group">
    <div class="form-category" formArrayName="awardCategory">
      <h3>Award/Scholarship</h3>

      <div class="form-category__entry" *ngFor="let entry of awardCategory.controls; let i=index" [formGroupName]="i">
        <h4 class="form-category__heading">Entry #{{i + 1}}</h4>

        <button type="button" mat-mini-fab color="warn" class="form-category__remove" *ngIf="awardCategory.controls.length > 1" (click)="removeEvent(i, awardCategory)">
          <i class="fa fa-trash"></i>
        </button>

        <!-- <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Award" required formControlName="title">
          </mat-form-field>
        </div> -->

        <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Category Type" required matInput [matAutocomplete]="autoType" [formControl]="typeControl"
            formControlName="type" (blur)="onTypeChange($event, i, awardCategory)">
        </mat-form-field>
        <mat-autocomplete #autoType="matAutocomplete">
          <mat-option *ngFor="let option of typeFilteredOptions | async" [value]="option.type">
            {{option.type}}
          </mat-option>
        </mat-autocomplete>
        </div>

        <div class="floating-box__row">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Award" required matInput [matAutocomplete]="autoTitle"
                [formControl]="titleControl" formControlName="title" 
                (blur)="onTitleChange($event, i, awardCategory)">
            </mat-form-field>
            <mat-autocomplete #autoTitle="matAutocomplete">
              <mat-option *ngFor="let option of titleFilteredOptions | async" [value]="option.title">
                {{option.title}}
              </mat-option>
            </mat-autocomplete>
          </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="From" required formControlName="from">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="To" required formControlName="to">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <p>Enter proof:</p>
          <div class="form-category__file-button">
            <button type="submit" mat-raised-button color="accent">Upload</button>
            <input type="file" name="imageUpload" (change)="onFileChange($event, i, awardCategory)">
            <input type="hidden" name="imageHidden" formControlName="image"/>
          </div>
        </div>
      </div>
    </div>
  </div>