<div class="form__category" formGroupName="leadershipCategory">
  <h3>Student Leadership</h3>

  <div class="floating-box__row">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Major" required formControlName="major">
    </mat-form-field>
  </div>

  <div class="floating-box__row">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Major" required formControlName="major">
    </mat-form-field>
  </div>

  <div class="floating-box__row">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Major" required formControlName="major">
    </mat-form-field>
  </div>

  <div class="floating-box__row">
    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Major" required formControlName="major">
    </mat-form-field>
  </div>
</div>