<div [formGroup]="group">
  <div class="form-category" formArrayName="leadershipCategory">
    <h3>Student Leadership</h3>

    <div class="form-category__entry" *ngFor="let entry of leadershipCategory.controls; let i=index" [formGroupName]="i">
      <h4 class="form-category__heading">Entry #{{i + 1}}</h4>

      <button type="button" mat-mini-fab color="warn" class="form-category__remove" *ngIf="leadershipCategory.controls.length > 1"
        (click)="removeEvent(i)">
        <i class="fa fa-trash"></i>
      </button>

      <input (focus)="resetFilter()" type="text" placeholder="HUSC Club/ Project" matInput formControlName="title"
            required>

      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input (focus)="resetFilter()" type="text" placeholder="HUSC Club/ Project" matInput [matAutocomplete]="auto1" [formControl]="filterControl1" formControlName="title"
            required>
          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option.title">
              {{option.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input (focus)="resetFilter()" type="text" placeholder="Position" matInput [matAutocomplete]="auto2" [formControl]="filterControl2" formControlName="position"
            required>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.position">
              {{option.position}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="From" required formControlName="from">
        </mat-form-field>
      </div>

      <div class="floating-box__row">
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="To" required formControlName="to">
        </mat-form-field>
      </div>

      <div class="floating-box__row">
        <p>Enter proof:</p>
        <div class="form-category__file-button">
          <button type="submit" mat-raised-button color="accent">Upload</button>
          <input type="file" nameformControlName="file">
        </div>
      </div>
    </div>
  </div>
</div>