<mat-card class="floating-box">
  <h1 class="text-center">Meta-Curricular Form</h1>

  <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="First name" required formControlName="firstName">
        <label style="font-size: 12px; font-style: italic;">E.g.: Emad</label>
      </mat-form-field>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Last name" required formControlName="lastName">
        <label style="font-size: 12px; font-style: italic;">E.g.: Bin Abid</label>
      </mat-form-field>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Student ID" required formControlName="studentID">
        <label style="font-size: 12px; font-style: italic;">E.g.: ea02893</label>
      </mat-form-field>
      <!-- <mat-form-field class="full-width">
        <input type="text" placeholder="Student ID" required matInput [matAutocomplete]="auto" [formControl]="userControl" formControlName="studentID">
        <label style="font-size: 12px; font-style: italic;">E.g.: ea02893</label>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of studentIDFilteredOptions | async" [value]="option.studentID">
          {{option.studentID}}
        </mat-option>
      </mat-autocomplete> -->
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" placeholder="School" required matInput [matAutocomplete]="auto" [formControl]="schoolControl" formControlName="school">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of schoolFilteredOptions | async" [value]="option.school">
          {{option.school}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" placeholder="Major" required matInput [matAutocomplete]="auto" [formControl]="majorControl" formControlName="major">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of majorFilteredOptions | async" [value]="option.major">
          {{option.major}}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="floating-box__row" formGroupName="userCategories">
      <h3>Please mention all categories in which you have notable accomplishments during your time at HU:</h3>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(leadershipCategory)" formControlName='leadership'>Student Leadership</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(clubCategory)" formControlName='club'>HU Club/Society/Organization</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(devCategory)" formControlName='dev'>Career Development</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(wellnessCategory)" formControlName='wellness'>Student Wellness Services</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(campusCategory)" formControlName='campus'>Campus Involvment</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(communityCategory)" formControlName='community'>Community Service</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(globalCategory)" formControlName='global'>Global Engagement</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(academicCategory)" formControlName='academic'>Academic Presentation</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(officialCategory)" formControlName='official'>University Official Committee</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(peerCategory)" formControlName='peer'>Peer Tutoring</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(athleticsCategory)" formControlName='athletics'>Athletics</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(creativeCategory)" formControlName='creative'>Publication/Creative Activity</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox (change)="addSingleEntry(awardCategory)" formControlName='award'>Award/Scholarship</mat-checkbox>
      </div>
      <div class="floating-box__row checkbox">
        <mat-checkbox (change)="addSingleEntry(otherCategory)" formControlName='other'>
          <mat-form-field>
            <input (click)="$event.stopPropagation()" type="text" matInput placeholder="Other" formControlName="otherText">
          </mat-form-field>
        </mat-checkbox>
      </div>

    </div>

    <div *ngIf="userForm.value.userCategories.leadership">
      <hut-leadership (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-leadership>
      <div class="floating-box__row extra">
        <button (click)="addEntry(leadershipCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.club">
      <hut-club (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-club>
      <div class="floating-box__row extra">
        <button (click)="addEntry(clubCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>


    <div *ngIf="userForm.value.userCategories.dev">
      <hut-dev (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-dev>
      <div class="floating-box__row extra">
        <button (click)="addEntry(devCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.wellness">
      <hut-wellness (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-wellness>
      <div class="floating-box__row extra">
        <button (click)="addEntry(wellnessCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.campus">
      <hut-campus (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-campus>
      <div class="floating-box__row extra">
        <button (click)="addEntry(campusCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.community">
      <hut-community (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-community>
      <div class="floating-box__row extra">
        <button (click)="addEntry(communityCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.global">
      <hut-global (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-global>
      <div class="floating-box__row extra">
        <button (click)="addEntry(globalCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.academic">
      <hut-academic (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-academic>
      <div class="floating-box__row extra">
        <button (click)="addEntry(academicCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.official">
      <hut-official (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-official>
      <div class="floating-box__row extra">
        <button (click)="addEntry(officialCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.peer">
      <hut-peer (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-peer>
      <div class="floating-box__row extra">
        <button (click)="addEntry(peerCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.athletics">
      <hut-athletics (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-athletics>
      <div class="floating-box__row extra">
        <button (click)="addEntry(athleticsCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.creative">
      <hut-creative (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-creative>
      <div class="floating-box__row extra">
        <button (click)="addEntry(creativeCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.award">
      <hut-award (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-award>
      <div class="floating-box__row extra">
        <button (click)="addEntry(awardCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.other">
      <hut-other (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-other>
      <div class="floating-box__row extra">
        <button (click)="addEntry(otherCategory)" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div class="floating-box__row">
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>


  <div class="floating-box__row" *ngIf="errorFlag">
    <div class="floating-box__error">
      {{errorMsg}}
    </div>
  </div>

</mat-card>