<mat-card class="floating-box">
  <h1 class="text-center">Meta-Curricular Form</h1>

  <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="First name" required formControlName="firstName">
      </mat-form-field>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Last name" required formControlName="lastName">
      </mat-form-field>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" placeholder="Student ID" matInput [matAutocomplete]="auto" [formControl]="userControl" formControlName="studentID"
          required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user.studentID">
            {{user.studentID}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="floating-box__row">
      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Major" required formControlName="major">
      </mat-form-field>
    </div>

    <div class="floating-box__row" formGroupName="userCategories">
      <h3>Please mention all categories in which you have notable accomplishments during your time at HU:</h3>
      <div class="floating-box__row">
        <mat-checkbox formControlName='leadership'>Student Leadership</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='club'>HU Club/Society/Organization</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='development'>Career Development</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='wellness'>Student Wellness Services</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='campus'>Campus Involvment</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='community'>Community Service</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='global'>Global Engagement</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='academic'>Academic Presentation</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='official'>University Official Committee</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='peer'>Peer Tutoring</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='athletics'>Athletics</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='creative'>Publication/ Creative Activity</mat-checkbox>
      </div>
      <div class="floating-box__row">
        <mat-checkbox formControlName='award'>Award/Scholarship</mat-checkbox>
      </div>
      <div class="floating-box__row checkbox">
        <mat-checkbox formControlName='other' class="mat-checkbox--input">
          <mat-form-field>
            <input type="text" matInput placeholder="Other" formControlName="otherText">
          </mat-form-field>
        </mat-checkbox>
      </div>
    </div>

    <div *ngIf="userForm.value.userCategories.leadership">
      <hut-leadership (eventRemoved)="removeCurrentEvent($event)" [group]="userForm"></hut-leadership>
      <div class="floating-box__row extra">
        <button (click)="addEntry('leadership')" type="button" mat-raised-button color="primary">
          Add another entry
        </button>
      </div>
    </div>

    <div class="floating-box__row">
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>


  <div class="floating-box__row" *ngIf="errorFlag">
    <div class="floating-box__error">
      {{errorMsg}}
    </div>
  </div>

</mat-card>