<div [formGroup]="group">
    <div class="form-category" formArrayName="communityCategory">
      <h3>Community Service</h3>

      <div class="form-category__entry" *ngFor="let entry of communityCategory.controls; let i=index" [formGroupName]="i">
        <h4 class="form-category__heading">Entry #{{i + 1}}</h4>

        <button type="button" mat-mini-fab color="warn" class="form-category__remove" *ngIf="communityCategory.controls.length > 1" (click)="removeEvent(i, communityCategory)">
          <i class="fa fa-trash"></i>
        </button>

        <!-- <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Project/Thesis" required formControlName="title">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Description" required formControlName="position">
          </mat-form-field>
        </div> -->

        <div class="floating-box__row">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Project/Thesis" required matInput [matAutocomplete]="autoTitle"
                [formControl]="titleControl" formControlName="title" 
                (blur)="onTitleChange($event, i, communityCategory)">
            </mat-form-field>
            <mat-autocomplete #autoTitle="matAutocomplete">
              <mat-option *ngFor="let option of titleFilteredOptions | async" [value]="option.title">
                {{option.title}}
              </mat-option>
            </mat-autocomplete>
          </div>
    
          <div class="floating-box__row">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Description" required matInput [matAutocomplete]="autoPosition" [formControl]="positionControl"
                formControlName="position" (blur)="onPositionChange($event, i, communityCategory)">
            </mat-form-field>
            <mat-autocomplete #autoPosition="matAutocomplete">
              <mat-option *ngFor="let option of positionFilteredOptions | async" [value]="option.position">
                {{option.position}}
              </mat-option>
            </mat-autocomplete>
          </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="From" required formControlName="from">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="To" required formControlName="to">
          </mat-form-field>
        </div>

        <div class="floating-box__row">
          <p>Enter proof:</p>
          <div class="form-category__file-button">
            <button type="submit" mat-raised-button color="accent">Upload</button>
            <input type="file" name="imageUpload" (change)="onFileChange($event, i, communityCategory)">
            <input type="hidden" name="imageHidden" formControlName="image"/>
          </div>
        </div>
      </div>
    </div>
  </div>